<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anns.appnghenhacso"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:showWhenLocked="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screen.VideoViewYT"
            android:exported="false" />
        <activity
            android:name=".Screen.Purchase"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7324973790140627~8079311167" />

        <activity android:name=".Screen.Search_Result" />
        <activity
            android:name=".Screen.Detail_Music"
            android:theme="@style/ThemePlayMusic" />
        <activity android:name=".Screen.Detail_Category" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service
            android:name=".API.MusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Screen.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ActionPrev" />
                <action android:name="ActionPlay" />
                <action android:name="ActionNext" />
                <action android:name="ActionPause" />
            </intent-filter>
        </receiver>
    </application>

</manifest>